<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>category</title>
	<link rel="stylesheet" type="text/css" href="admin/common/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="admin/common/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="admin/common/demo.css">
	<script type="text/javascript" src="admin/common/jquery.min.js"></script>
	<script type="text/javascript" src="admin/common/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="admin/common/js/picture.js"></script>
</head>
<body>
	<div style="text-align:center;padding:5px 0">
			<button id = "new" class="easyui-linkbutton"  style="width:100px">新增</button>
			<button id = "edit" class="easyui-linkbutton"  style="width:100px">修改</button>
			<button id = "delete" class="easyui-linkbutton"  style="width:100px">删除</button>
	</div>
	<table id="picture" class="easyui-datagrid" title="" style="width:100%;height:280px">
	</table>
	<div id="new_dialog" class="easyui-dialog" title="增加分类" data-options="closed:'true'" style="width:400px;height:250px;padding:10px">
		<div style="margin-bottom:20px">
			<input class="easyui-textbox"  name="new_gid" style="width:100%" data-options="label:'商品ID:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" name="new_floorplan" style="width:100%" data-options="label:'展位图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" name="new_big_floorplan" style="width:100%" data-options="label:'大展位图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" name="new_mygood_picture" style="width:100%" data-options="label:'购物表图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" name="new_detail_one" style="width:100%" data-options="label:'第一详情图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" name="new_detail_two" style="width:100%" data-options="label:'第二详情图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" name="new_detail_three" style="width:100%" data-options="label:'第三详情图:',required:true">
		</div>
		<div style="text-align:center;padding:5px 0">
		<button id = "new_confirm" class="easyui-linkbutton"  style="width:100px">确定</button>
		<button id = "new_cancel" class="easyui-linkbutton"  style="width:100px">取消</button>
		</div>
	</div>
	<div id="edit_dialog" class="easyui-dialog" title="确定修改" data-options="closed:'true'" style="width:400px;height:250px;padding:10px">
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" id="edit_gid"  name="edit_gid" style="width:100%" data-options="label:'商品ID:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" id="edit_floorplan" name="edit_floorplan" style="width:100%" data-options="label:'展位图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" id="edit_big_floorplan" name="edit_big_floorplan" style="width:100%" data-options="label:'大展位图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" id="edit_mygood_picture" name="edit_mygood_picture" style="width:100%" data-options="label:'购物表图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" id="edit_detail_one" name="edit_detail_one" style="width:100%" data-options="label:'第一详情图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" id="edit_detail_two" name="edit_detail_two" style="width:100%" data-options="label:'第二详情图:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" id="edit_detail_three" name="edit_detail_three" style="width:100%" data-options="label:'第三详情图:',required:true">
		</div>
		<div style="text-align:center;padding:5px 0">
		<button id = "edit_confirm" class="easyui-linkbutton"  style="width:100px">确定</button>
		<button id = "edit_cancel" class="easyui-linkbutton"  style="width:100px">取消</button>
		</div>
	</div>
	<div id="delete_dialog" class="easyui-dialog" title="确定删除" data-options="closed:'true'" style="width:400px;height:200px;padding:10px">
	<div style="text-align:center;padding:5px 0;padding-top:50px">
		<button id = "delete_confirm" class="easyui-linkbutton"  style="width:100px">确定</button>
		<button id = "delete_cancel" class="easyui-linkbutton"  style="width:100px">取消</button>
	</div>
	</div>
</body>
</html>