<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>category</title>
	<link rel="stylesheet" type="text/css" href="admin/common/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="admin/common/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="admin/common/demo.css">
	<script type="text/javascript" src="admin/common/jquery.min.js"></script>
	<script type="text/javascript" src="admin/common/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="admin/common/js/selling.js"></script>
</head>
<body>
	<div style="text-align:center;padding:5px 0">
			<button id = "new" class="easyui-linkbutton"  style="width:100px">上架</button>
			<button id = "delete" class="easyui-linkbutton"  style="width:100px">下架</button>
	</div>
	<table id="selling" class="easyui-datagrid" title="" style="width:100%;height:280px">
	</table>
	<div id="new_dialog" class="easyui-dialog" title="增加分类" data-options="closed:'true'" style="width:400px;height:250px;padding:10px">
		<div style="margin-bottom:20px">
			<input class="easyui-textbox"  name="new_gid" style="width:100%" data-options="label:'商品ID:',required:true">
		</div>

		<div style="text-align:center;padding:5px 0">
		<button id = "new_confirm" class="easyui-linkbutton"  style="width:100px">确定</button>
		<button id = "new_cancel" class="easyui-linkbutton"  style="width:100px">取消</button>
		</div>
	</div>
	<div id="delete_dialog" class="easyui-dialog" title="确定删除" data-options="closed:'true'" style="width:400px;height:200px;padding:10px">
	<div style="text-align:center;padding:5px 0;padding-top:50px">
		<button id = "delete_confirm" class="easyui-linkbutton"  style="width:100px">确定</button>
		<button id = "delete_cancel" class="easyui-linkbutton"  style="width:100px">取消</button>
	</div>
	</div>
</body>
</html>