<!DOCTYPE html>
<html>
<head>
<title>Checkout</title>
<link href="home/common/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!--theme-style-->
<link href="home/common/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--theme-style-->
<link href="home/common/css/style4.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<script src="home/common/js/jquery.min.js"></script>
<!--- start-rate---->
<script src="home/common/js/jstarbox.js"></script>
	<link rel="stylesheet" href="home/common/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
<!---//End-rate---->
</head>
<body>
<!--header-->
<div class="header">
<div class="container">
		<div class="head">
			<div class=" logo">
				<a href="home/common/index.html"><img src="home/common/images/logo.png" alt=""></a>	
			</div>
		</div>
	</div>
	<div class="header-top">
		<div class="container">
		<div class="col-sm-5 col-md-offset-2  header-login">
					<ul >
						<li><a href="index.php?a=home&c=login&m=index">登录</a></li>
						<li><a href="index.php?a=home&c=login&m=register">注册</a></li>
						<li><a href="index.php?a=home&c=login&m=login_out">注销</a></li>
					</ul>
				</div>
				
			<div class="col-sm-5 header-social">		
					<ul >
						<li><a href="home/common/#"><i></i></a></li>
						<li><a href="home/common/#"><i class="ic1"></i></a></li>
						<li><a href="home/common/#"><i class="ic2"></i></a></li>
						<li><a href="home/common/#"><i class="ic3"></i></a></li>
						<li><a href="home/common/#"><i class="ic4"></i></a></li>
					</ul>
					
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
		
		<div class="container">
		
			<div class="head-top">
			
		 <div class="col-sm-8 col-md-offset-2 h_menu4">
				<nav class="navbar nav_bottom" role="navigation">
 
 <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header nav_2">
      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
   </div> 
   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav nav_1">
            {navigation_bar}
        </ul>
     </div><!-- /.navbar-collapse -->

</nav>
			</div>
			<div class="col-sm-2 search-right">
				<ul class="heart">
				<li>
				<a href="home/common/wishlist.html" >
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				</a></li>
				<li><a class="play-icon popup-with-zoom-anim" href="#"><i class="glyphicon glyphicon-search"> </i></a></li>
			</ul>
			<div class="cart box_1">
				<a href="index.php?a=home&c=person&m=goodlist">
				<h3> <div class="total">
					<span class="simpleCart_total">购物车</span></div>
					<img src="home/common/images/cart.png" alt=""/></h3>
				</a>
			</div>
			<div class="clearfix"> </div>
					
						<!----->

						<!---pop-up-box---->					  
			<link href="home/common/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
			<script src="home/common/js/jquery.magnific-popup.js" type="text/javascript"></script>
			<!---//pop-up-box---->
			<div id="small-dialog" class="mfp-hide">
				<div class="search-top">
					<div class="login-search">
						<input type="submit" value="">
						<input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}">		
					</div>
					<p>Shopin</p>
				</div>				
			</div>		
						<!----->
			</div>
			<div class="clearfix"></div>
		</div>	
	</div>	
</div>
<!--banner-->
<div class="banner-top">
	<div class="container">
		<h1>Checkout</h1>
		<em></em>
		<h2><a href="home/common/index.html">Home</a><label>/</label>Checkout</a></h2>
	</div>
</div>

<div class="container">
  
   <div class="col-md-2">
   <div style = "padding-top:100px">
		<h4 class="cate">项目</h4>
		<ul class="menu-drop">
			<li class="item1"><a href="index.php?a=home&c=person&m=index">个人信息</a></li>
			<li class="item2"><a href="index.php?a=home&c=person&m=goodlist">购买列表 </a></li>
			<li class="item3"><a href="index.php?a=home&c=person&m=person_account">账户充值</a></li>
		</ul>
	</div>
   </div>

   <div class="col-md-10">
	<div class="check-out">
	<div class="bs-example4" data-example-id="simple-responsive-table">
    <div class="table-responsive">
    	    <table class="table-heading simpleCart_shelfItem">
		  <tr>					
			<th >属性</th>
			<th>属性值</th>
		  </tr>
		  {person_information}		
	</table>
	</div>
	</div>
    </div>
</div>
</div>

<!--//login-->
<!--brand-->
		<div class="container">
			<div class="brand">
				<div class="col-md-3 brand-grid">
					<img src="home/common/images/ic.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="home/common/images/ic1.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="home/common/images/ic2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="home/common/images/ic3.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<!--//brand-->
			</div>
			
		</div>
	<!--//content-->
	<!--//footer-->
	<div class="footer">
	<div class="footer-middle">
				<div class="container">
					<div class="col-md-3 footer-middle-in">
						<a href="home/common/index.html"><img src="home/common/images/log.png" alt=""></a>
						<p>Suspendisse sed accumsan risus. Curabitur rhoncus, elit vel tincidunt elementum, nunc urna tristique nisi, in interdum libero magna tristique ante. adipiscing varius. Vestibulum dolor lorem.</p>
					</div>
					
					<div class="col-md-3 footer-middle-in">
						<h6>Information</h6>
						<ul class=" in">
							<li><a href="home/common/404.html">About</a></li>
							<li><a href="home/common/contact.html">Contact Us</a></li>
							<li><a href="home/common/#">Returns</a></li>
							<li><a href="home/common/contact.html">Site Map</a></li>
						</ul>
						<ul class="in in1">
							<li><a href="home/common/#">Order History</a></li>
							<li><a href="home/common/wishlist.html">Wish List</a></li>
							<li><a href="home/common/login.html">Login</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-3 footer-middle-in">
						<h6>Tags</h6>
						<ul class="tag-in">
							<li><a href="home/common/#">Lorem</a></li>
							<li><a href="home/common/#">Sed</a></li>
							<li><a href="home/common/#">Ipsum</a></li>
							<li><a href="home/common/#">Contrary</a></li>
							<li><a href="home/common/#">Chunk</a></li>
							<li><a href="home/common/#">Amet</a></li>
							<li><a href="home/common/#">Omnis</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-middle-in">
						<h6>Newsletter</h6>
						<span>Sign up for News Letter</span>
							<form>
								<input type="text" value="Enter your E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Enter your E-mail';}">
								<input type="submit" value="Subscribe">	
							</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<ul class="footer-bottom-top">
						<li><a href="home/common/#"><img src="home/common/images/f1.png" class="img-responsive" alt=""></a></li>
						<li><a href="home/common/#"><img src="home/common/images/f2.png" class="img-responsive" alt=""></a></li>
						<li><a href="home/common/#"><img src="home/common/images/f3.png" class="img-responsive" alt=""></a></li>
					</ul>
					<p class="footer-class">Copyright &copy; 2040131161. All rights reserved.</p>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!--//footer-->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- slide -->
<script src="home/common/js/bootstrap.min.js"></script>
<script src="home/common/js/person_information.js"></script>
 <div class="modal fade" id="call_phone_number" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改电话号码</h4>
            </div>
            <div class="modal-body">
				<div class="login-mail">
						<input type="text" name = "phone_number" placeholder="电话号码" required="">
						<i  class="glyphicon glyphicon-phone"></i>
					</div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary"  id="exit_phone_number">更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
 <div class="modal fade" id="call_mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改邮箱</h4>
            </div>
            <div class="modal-body">
				<div class="login-mail">
						<input type="text" name = "mail" placeholder="邮箱" required="">
						<i  class="glyphicon glyphicon-phone"></i>
					</div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary"  id="exit_mail">更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
 <div class="modal fade" id="call_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">				
					<div class="login-mail">
					<input type="password" name = "password" placeholder="旧密码" required="">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
					<div class="login-mail">
					<input type="password" name = "new_password" placeholder="新密码" required="">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
				   <div class="login-mail">
					<input type="password" name = "new_repassword" placeholder="再输新密码" required="">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary"  id="exit_password">更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
 <div class="modal fade" id="call_address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改收获地址</h4>
            </div>
            <div class="modal-body">
				<div class="login-mail">
					<input type="text" name = "address" placeholder="收获地址" required="">
					<i  class="glyphicon glyphicon-envelope"></i>
				</div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary"  id="exit_address">更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>